services:
  # 1. SERVIDOR WEB (NGINX)
  web:
    image: nginx:alpine
    container_name: bienesraices_poo_web
    ports:
      # Mapea el puerto 8080 local al puerto 80 del contenedor
      - "80:80"
    volumes:
      # Monta tu código PHP local
      - ./:/var/www/html
      # Carga el archivo de configuración de Nginx
      - ./config/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  # 2. PROCESADOR PHP (PHP-FPM)
  php:
    build:
      context: .
      dockerfile: Dockerfile-php
    container_name: bienesraices_poo_php
    volumes:
      # Mapeo del código para ejecución PHP
      - ./:/var/www/html
    env_file:
      - .env

  # 3. BASE DE DATOS (MARIADB)
  db:
    image: mariadb:10.11
    container_name: bienesraices_poo_db
    ports:
      # Mapea el puerto 3307 local para evitar conflictos con tu MariaDB nativo
      - "3307:3306"
    environment:
      # Credenciales para tu código PHP de POO:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    #      MYSQL_USER: user_docker
    #      MYSQL_PASSWORD: password_docker
    env_file:
      - .env
    volumes:
      # Persistencia de datos
      - db_data:/var/lib/mysql

  # 4. NODE.JS (Para Gulp y NPM)
  node:
    image: node:16-alpine
    container_name: bienesraices_poo_node
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    command: "tail -f /dev/null"
volumes:
  db_data:
